.DS_Store
.AppleDouble
.LSOverride
Icon
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.aux
.fls
.synctex(busy)
.synctex.gz(busy)
.synctex.gz(busy)
.log
.out
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
document.fdb_latexmk
document.log
document.synctex.gz
document.aux
.gitignore